<!DOCTYPE html>
<html lang="es">
  <head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="css/materialize.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
    <script src="js/materialize.min.js"></script>
    <script defer src="js/index.js"></script>
  </head>
  <body>
  <!-- INIT NAVBAR -->
  <nav>
    <div class="nav-wrapper bg-secondary">
      <a href="#" class="brand-logo center hide-on-small-only">Youtube video downloader</a>
      <a href="#" class="brand-logo center show-on-small hide-on-med-and-up">Downloader</a>
    </div>
  </nav>
  <!-- END NAVBAR -->